*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
background: url(img/back.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.header {
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.header .logo {
    display: flex;
}

.logo a h1 {
    font-size: 2.5em;
    margin-top: 40px;
    font-family: "lugrasimo";
    color: #fff;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.nav .logo {
    display: none;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    padding: 10px;
}

.nav ul li a {
    transition: font-family, font-size 0.5s ease-in;
    color: #ffffff;
    font-weight: 900;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-family: lobster two;
}

.nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff00ff, #00ffff);
    box-shadow: 0 0 20px #ff00ff;
    transform: scale(0);
    transition: 1s ease;
}

.nav ul li a:hover::after {
    transform: scaleX(1);
}

.hamburger {
    position: absolute;
    right: 2%;
    top: 8vh;
    font-size: 1.5em;
    color: #fff;
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .header {
        width: 100%;
        padding: 0 20px;
        background: rgba(0, 0, 0);
    }

    .nav {
        position: absolute;
        left: -600px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: rgba(0, 0, 0);

    }

    .nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        color: #ffffff;
    }

    #nav-check:checked~nav {
        left: 0;
    }


    .nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
        text-align: center;
        font-weight: 900;
    }

    .hamburger {
        display: block;
    }


}
.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


/* CSS for Hire Me Page */
.questionnaire {
    padding: 40px;
    color: white;
margin-top: 15vh;
}

.questionnaire h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.questionnaire form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
}

.questionnaire form input,
.questionnaire form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

.questionnaire form button {
    padding: 10px 20px;
    background-color: #00ffff;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.price-section {
    padding: 40px;

}

.price-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: lugrasimo;
    color: #fff;
}

.price-boxes {
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-weight: 900;
}

.price-box {
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px 5px white;
}

.price-box ul,
.price-box ul li {
    margin-top: 10px;
}

.price-box i {
    font-size: 32px;
    margin-bottom: 10px;
}

.price-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.price-box p {
    margin-bottom: 20px;
}

.price-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.price-box p {
    margin-bottom: 20px;
}

.contact-me {
    padding: 40px;
}

.contact-me h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: lugrasimo;
    color: white;
}

.cont-boxes {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

.cont-box {
    width: 30%;
    padding: 20px;
    background-color: #e2dfdf;
    border-radius: 4px;
    text-align: center;
}

.cont-box i {
    font-size: 32px;
    margin-bottom: 10px;
}

.cont-box a {
    padding: 10px;
}

.cont-box .fa-facebook {
    background: linear-gradient(90deg, #0400fc, #00dbde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cont-box .fa-instagram {
    background: linear-gradient(20deg, #c100fc, orangered, rgb(255, 0, 43));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cont-box .fa-whatsapp {
    background: linear-gradient(90deg, #00fc3f, #09ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

CSS for Footer
.footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-nav ul li {
    margin-right: 10px;
}

.footer-nav ul li a {
    color: #fff;
    text-decoration: none;
}

@media (max-width:900px) {
    .baner h1 {
        font-size: 3.7rem;
    }
}

@media (max-width:765px) {
    .baner h1 {
        font-size: 3.5rem;
    }
}

@media (max-width:600px) {
    .price-boxes {
        display: block;
        columns: 1 12rem;
    }

    .price-box {
        width: auto;
        height: auto;
        margin: 10px;

    }

    .cont-boxes {
        display: block;
        columns: 1 12rem;
    }

    .cont-box {
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

}

@media (max-width:360px) {
    .footer-nav ul {
        display: none;
    }

}